$primary-color: #fff;
$secondary-color: #484848;
$light-accent-color: #1fab2d;
$dark-accent-color: #002218;
$bg-gray: #f0f0f0;
$divider: #ddd;

$box-shadow-defaut: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);