@import './colors.scss';

.footer {
    background-color: $dark-accent-color;
    height: 15em;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 100% 10%;
    border-top-right-radius: 100% 10%;
    margin-top: 3em;

  &__text {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: bold;
  }
}