.header {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002318;
    color: white;
 
  &__logo {
      letter-spacing: -2px;
      flex-grow: 1;
      text-align: center;
      margin: 0em;
  }
}
