@import './colors.scss';

.heading-l {
    font-size: 30px;
    margin: 1em;
    @media only screen and (min-width: 600px) {
        font-size: 40px;
    }
}

.heading-m {
    font-size: 24px;
    margin-top: 0px;
}

