.intro {
    max-width: 60em;
    margin: auto;

    &__link {
    border: solid 2px $dark-accent-color;
    border-radius: 50px;
    width: 9em;
    height: 3em;
    margin: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
        img {
            animation: arrow-bounce 1s ease-in-out infinite;
        }
        transform: scale(1.05);
        transition: all .2s ease-in-out;
        cursor: pointer;
    }
    
    &:focus { outline: none; }
    }

    &__link-text{
    margin: 0em;
    color: $dark-accent-color;
    margin-left: .5em;
    }

    h2 { text-align: center; }
}

@keyframes arrow-bounce {
    50% {transform: translateX(-.5em)}
}