@import './colors.scss';

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__line {
    display: inline-block;
    width: 8px;
    height: 20px;
    background-color: $light-accent-color;
    margin: .2em;

    &:nth-child(1){
      animation: loader-line-grow 1s ease-in-out infinite;
    }
    &:nth-child(2){
      animation: loader-line-grow 1s ease-in-out .15s infinite;
    }
    &:nth-child(3){
      animation: loader-line-grow 1s ease-in-out .30s infinite;
    }
    &:nth-child(4){
      animation: loader-line-grow 1s ease-in-out .45s infinite;
    }
  }
}

@keyframes loader-line-grow {
  0%, 100% { transform: scaleY(1); }

  50% { transform: scaleY(1.8); }
}
