@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@import './loader.scss';
@import './tables.scss';
@import './headings.scss';
@import './mixins.scss';
@import './header.scss';
@import './intro.scss';
@import './footer.scss';

body {
    font-family: 'Open Sans', sans-serif;
    color: $secondary-color;
    margin: 0px;
    background-color: $bg-gray;
}

main {
    min-height: 72vh;
}