@mixin display-defaut-label {
    font-weight: 600;
    color: $secondary-color;
    font-size: 16px;
}

@mixin table-box ($color, $shadow){
    background-color: $color;
    border-radius: 0.5em;
    margin: 0em 1em 1em 1em;
    box-shadow: $shadow;
}


@mixin slide-up-annimation {
    animation: slide-up 1s ease-in-out;
}

@keyframes slide-up {
    0% { 
      transform: translateY(300px);
      opacity: 0;
    }
  }