@import "./colors.scss";
@import "./mixins.scss";


.user-detail {
  max-width: 60em;
  margin: auto;
  @include slide-up-annimation;
  .table-box {
      @include table-box($primary-color, $box-shadow-defaut);

    &__title {
      padding: 1em 1.3em;
      margin: 0em;
      border-bottom: 1px solid $divider;
    }

    &__2col { padding: 0.5em 1.5em; }

    &__map { padding-bottom: 1.5em; }

    &__row {
        background-color: $primary-color;
        border-bottom: 1px solid $divider;
        display: flex;
        flex-direction: column;

      @media only screen and (min-width: 600px) {
        flex-direction: row;
        p { width: 50%; }
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &__label { @include display-defaut-label; }

    &__value {
      text-align: left;
      margin-top: 0em;

      @media screen and (min-width: 600px) {
        text-align: end;
        margin-top: auto;
      }
    }
  }
  
}


.user-list {
    max-width: 60em;
    margin: auto;
    @include slide-up-annimation;
  @media screen and (min-width: 1200px) {
    max-width: 80em;
  }

  &__table-box {
      @include table-box(transparent, none);
    @media only screen and (min-width: 1200px) {
      @include table-box($primary-color, $box-shadow-defaut);
    }
  }

  &__table-5col {
      padding: initial;
    @media screen and (min-width: 600px) {
      padding: 0.5em 1.5em;
    }
  }

  &__header {
    display: none;

    @media screen and (min-width: 1200px) {
      display: flex;
      border-top: 0px;
      border-bottom: 0px;
      margin-right: 3.5em;
      padding: 0em 0.5em;
    }
  }

  &__row-label {
    width: 20%;
    @include display-defaut-label;
  }

  &__table-link {
    text-decoration: none;
    color: $secondary-color;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin-bottom: 2em;
    border-top: 1px solid $divider;
    border-radius: 0.5em;
    box-shadow: $box-shadow-defaut;  
    background-color: $primary-color;  
    @media screen and (min-width: 1200px) {
      box-shadow: none;
      flex-direction: row;
      margin-bottom: 0em;
      padding: 0em 0.5em;
      border-radius: 0em;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__button {
      background: transparent;
      border: none;
      transition: all 0.3s ease-in-out;
      margin-top: 1em;
    
    img { width: 3em; }
    
    &:hover {
      transform: translateX(0.5em);
      cursor: pointer;
    }

    &:focus {outline:0;}

    @media screen and (min-width: 1200px) {
        margin-top: 0em;
    }
  }

  &__entry {
      border-bottom: 1px solid $divider;
      width: 100%;
      display: flex;
      flex-direction: column;

    @media only screen and (min-width: 600px) {
      justify-content: space-between;
      flex-direction: row;
    }

    @media screen and (min-width: 1200px){
      border-bottom: none;
    }
  }

  &__title--xs {
      font-size: 24px;
      font-weight: bold;
      color: $secondary-color;
      margin-top: 0em;

    @media screen and (min-width: 600px) {
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      font-weight: normal;
      text-align: left;
      margin-bottom: 0em;
    }
  }

  &__label--xs {
    @include display-defaut-label;

    @media only screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__value {
    text-align: left;
    margin-top: 0em;
    color: $secondary-color;

    @media only screen and (min-width: 600px) {
      margin-top: 1em;
      text-align: right;
    }

    @media only screen and (min-width: 1200px) {
      text-align: initial;
    }
  }

}


